@media print
	{
		#non-printable { display: none; }
		#mySidenav { display: none; }
		#printable { display: block; }
		#total { display: none; }
		#main { display: none; }
		.btn_nav { display: none; }
		title {display: none; }
	}